@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Young+Serif&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #7d6759;
    color: #1e1e24;
    line-height: 2em;

}
nav{
    background-color: #d8c3a5;
    color: #1e1e24;
    text-align: center;
    font-family: 'Young Serif', serif;
    position: sticky;
    top: 0;
    z-index: 2;
    border-bottom: 4px #1e1e24 solid;
    width: 100%;
    height: 5%;
    margin: auto;
}
nav>h1{
    vertical-align: middle;
}
.search {
    background-color: #4f3d36; 
    color: #d8c3a5;
    font-family: 'Barlow', sans-serif;
    text-align: center;
    border: none;
    margin: 0 auto;
    display: block;
    border-radius: 5px;
}

.search:focus {
    outline: 1px #eddac0 solid;
    
}
.main {
    display: flex;
}
.leftbar{
    background-color: #d8c3a5;
    /* position: fixed; */
    width: 20%;
    height: 100vh;
    font-family: 'Barlow', sans-serif;
    z-index: 1;
    text-align: center;
}
.rightbar{
    width: 66%;
    height: 100vh;
    background-color: #7d6759;
    font-family: 'Barlow', sans-serif;
    margin-left: auto;
    margin-right: 0;
}
/* .flex-container{
    display: flex;
    flex-wrap: wrap;
} */
.search-bar{
    margin-top: 2px;
}

.btn {
    background-color: #1e1e24; 
    color: #e1fae8;
    border: none;
    font-family: 'Barlow', sans-serif;

}

.btn cancel{
    background-color: #1e1e24; 
    color: #e1fae8;
    border: none;
    font-family: 'Barlow', sans-serif;

}

.openBtn {
    display: flex;
    justify-content: center;
  }
  .openButton {
    border: none;
    border-radius: 5px;
    background-color: #4f3d36;
    font-family: 'Young Serif', serif;
    color: #e1fae8;
    padding: 14px 20px;
    cursor: pointer;
    margin: 20px;
    /*position: fixed;*/
  }
  .loginPopup {
    position: relative;
    text-align: center;
    width: 100%;
  }
  .formPopup {
    display: none;
    position: fixed;
    left:50%;
    top: 5%;
    transform: translate(-50%, 5%);
    z-index: 9;
  }
  .formContainer {
    /* max-width: 400px; */
    max-width: 120vw;
    max-height: 140vh;
    padding: 20px;
    border-radius: 10px;
    background-color: #4f3d36;
    font-family: 'Young Serif', serif;
    color: #e1fae8;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #drop-area {
    width: 200px;
    height: 200px;
    border: 2px dashed #e1fae8;
    font-family: 'Barlow', sans-serif;
    border-radius: 8px;
    /* padding: 20px; */
    text-align: center;
    line-height: 200px;
    cursor: pointer;
    overflow: hidden;
}

#form-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    margin-right: 15px;
}

.form-fields {
    width: 60%; /* Adjust the width as needed */
}
#form-content select
{
    background-color: #1e1e24; 
    color: #e1fae8;
    font-family: 'Barlow', sans-serif;
    width: 4vw;
    line-height: 2em;
    text-align: center;
    border: none;
    height: 2.195em;
    text-align: center;
    /* transform: translateY(1px); */
}
#form-content input{
    background-color: #1e1e24; 
    color: #e1fae8;
    font-family: 'Barlow', sans-serif;
    margin-top: 15px;
    text-align: center;
    border: none;
    line-height: 2em;
    width: 12vw;
    
}
#form-content input[type=number]
{
    width: 6vw;
}

#form-content input:focus{
    outline: 1px #eddac0 solid;
}

.autgat input[type=text]{
    width: 5.2vw !important;
}
