*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: red;
}
nav{
    background-color: aqua;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 5%;
    margin: auto;
}
nav>h1{
    vertical-align: middle;
}
.search {
    margin: 0 auto;
    display: block;
}
.main {
    display: flex;
}
.leftbar{
    background-color: blue;
    /* position: fixed; */
    width: 33%;
    height: 100vh;
    z-index: 1;
    text-align: center;
}
.rightbar{
    width: 66%;
    height: 100vh;
    background-color: blueviolet;
    margin-left: auto;
    margin-right: 0;
    display: flex;
}
.book{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 100px;
}
.info{
    margin-left: auto;
    margin-right: 30px;
    text-align: right;
}
.search-bar{
    margin-top: 100px;
}



.openBtn {
    display: flex;
    justify-content: left;
  }
  .openButton {
    border: none;
    border-radius: 5px;
    background-color: #1c87c9;
    color: white;
    padding: 14px 20px;
    cursor: pointer;
    position: fixed;
  }
  .loginPopup {
    position: relative;
    text-align: center;
    width: 100%;
  }
  .formPopup {
    display: none;
    position: fixed;
    left: 45%;
    top: 5%;
    transform: translate(-50%, 5%);
    z-index: 9;
  }
  .formContainer {
    /* max-width: 400px; */
    max-width: 60vw;
    max-height: 70vh;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #drop-area {
    width: 200px;
    height: 200px;
    border: 2px dashed #ccc;
    border-radius: 8px;
    /* padding: 20px; */
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}
#form-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    margin-right: 15px;
}
.form-fields {
    width: 45%; /* Adjust the width as needed */
}
#form-content input[type=number]
{
    width: 3.6vw;
}
#form-content select
{
    width: 3.25vw;
    line-height: 2em;
    height: 2.195em;
    transform: translateY(1px);
}
#form-content input{
    margin-top: 15px;
    line-height: 2em;
    width: 12vw;
    
}
.autgat input[type=text]{
    width: 5.2vw !important;
}