<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css')}}">
</head>
<body>
    <nav>
    <h1>Czytelnik</h1>
    </nav>
    <div class="main">
    <div class="leftbar">
        <input class="search" type="text" placeholder="Szukaj..">
        <h2>Tagi<h2>
    </div>
    <div class="rightbar">
        
        <div class="flex-container">
            <h1>1</h1>
            <h1>2</h1>
            <h1>3</h1>
            <h1>4</h1>
            <h1>5</h1>
        </div>
    </div>
</div>
</body>
</html>